sup {
    vertical-align: super;
    font-size: smaller;
}
.dashboard-header .navbar-inverse {
    background: #666;
}

.balcls {
    display: block;
    font-size: 12px;
    color: #ccc;
}

.dashboard-header li a {
    padding: 15px 27px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
}
.dashboard-header li a:hover{
    text-decoration: none;
    background: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color:none;
}
.dashboard-header li .fa {
    margin: 10px;
}
.dashboard-header .form-control {
    border: none;
    border-radius: 0;
    margin-top: 6px;
}

.dropdown-menu>li>a{
    color: #333;
}

.dropdown.dropdown02 {
    position: inherit;
}

.topclas li{
    position: inherit;
}

.nav>li {
    position: static;
    display: block;
}
.dropdown-menu{
    width: 100%;
    
}

.cata-div1 p {
    margin: 10px;
    padding: 10px 0px 0px 10px;
}
.cata-div1 a {
   color:#000 !important;
}
.cata-div2 p {
    margin: 10px;
    padding: 10px 0px 0px 10px;
}
.cata-div2 a {
   color:#000 !important;
}

/* .navbar-header{
    position: relative;
} */
.arrowAbs {
    position: absolute;
    right: 0;
    top: 35px;
}

.bailace-point li a {
    padding: 4px 17px !important;
    font-size: 13px;
}
.bailace-point {
    width: 280px;
    top:61px;
}

.bailace-point li:first-child {
    margin-left: 12px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 7px;
}

.bailace-point li:last-child {
    margin: 8px;
    background-color:#F5F5DC;
    padding: 2px;
    border-radius: 5px;
}
.expiredcir {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 12px;
    line-height: 30px;
    margin: 3px;
    display: inline-block;
    background: #fff;
    text-align: center;
    font-size: 11px;
}
.bailace-point li hr{
    margin-left: 4px;
    margin-bottom: 4px;
}

.balenceCls {
    position: relative;
}
.navbar-brand {
    position: relative;
}
.searchIconCls {
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 99;
    background: #ccc;
}
.active01{
    background: #fff !important;
    color: #333 !important;
}