<carousel>
    <slide>
      <img src="assets/images/dashboard/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Check out quickly and securely at millions of your favorite retailers - online, in apps, or in stores.</h3>
        <!--<p></p>-->
      </div>
    </slide>
    <slide>
      <img src="assets/images/dashboard/2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Find the card that's right for you - Explore the benefits of MasterCard.  No Card is more accepted around the world.</h3>
        <!--<p>Find the card that's right for you - Explore the benefits of MasterCard.  No Card is more accepted around the world.</p>-->
      </div>
    </slide>
    <slide>
      <img src="assets/images/dashboard/1.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>MasterCard is First Payments Player to Receive Approval for Science-Based Emissions Target.</h3>
        <!--<p>MasterCard is First Payments Player to Receive Approval for Science-Based Emissions Target.</p>-->
      </div>
    </slide>
  </carousel>

  <div class="earnpoint">
      <div class="container">
        <div class="backCls">
          <div class="row">
            <div class="erarnParaCls">
              <div class="col-md-12">
              <p>Earn points on your daily activities - shopping, payments, fuel, grocery and more</p>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3" style="text-align: center">
              <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/earnpoint.png');background-position: center;background-size: cover;">
               <!-- <p class="mainboxTxt">Earn 1 Awards points for every dollar you spend on your Mastercard® </p>-->
              </div>
              <h4>$ = 1 Point</h4>
            </div>
          
            <div class="col-xs-12 col-sm-3" style="text-align: center">
              <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/shopwithcard.png');background-position: center;background-size: cover;">
                  <!--<p class="mainboxTxt">Earn Bonus Points when you make purchases with MasterCard at one of our bonus partners. 
                  </p>-->
                </div>
                <h4>Purchase using Card</h4>
              </div>
              <div class="col-xs-12 col-sm-3" style="text-align: center">
                <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/airtickets.png');background-position: center;background-size: cover;">
                    <!--<p class="mainboxTxt">Earn extra points by booking travel through the Ultimate Rewards® site. 
                    </p>-->
                  </div>
                  <h4>Traveling Booking</h4>
                </div>
                <div class="col-xs-12 col-sm-3"  style="text-align: center">
                  <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/bonuspoints.png');background-position: center;background-size: cover;">
                      <!--<p class="mainboxTxt">MasterCard now offer great sign-up bonuses to help you rack up points. 
                      </p>-->
                    </div>
                    <h4>Sign Up Bonus</h4>
                  </div>
                  <!--<div class="erarnParaCls">
                      <div class="col-md-12">
                        <a href="#">View All</a>
                      </div>
                    </div>-->
          </div>
      </div>

      <div class="backCls">
          <div class="row">
            <div class="erarnParaCls">
            <div class="col-md-12">
              <p>Redeem your points and enjoy your great savings</p>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3" style="text-align: center">
              <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/cashback.png');background-position: center;background-size: cover;">
                <!--<p class="mainboxTxt">Credit Cards offer rewards that can be redeemed as cashback or used to purchase gift cards or Merchandise. 
                </p>-->
              </div>
              <h4>Cash Back</h4>
            </div>
          
            <div class="col-xs-12 col-sm-3" style="text-align: center">
                <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/airbooking.png');background-position: center;background-size: cover;">
                  <!--<p class="mainboxTxt">Air – Redeem your points for tickets on virtually any airline, international and domestic, and fly at any time - no blackout dates‡. 
                  </p>-->
                </div>
                <h4>Travel</h4>
              </div>
              <div class="col-xs-12 col-sm-3" style="text-align: center">
                  <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/dianing.png');background-position: center;background-size: cover;">
                    <!--<p class="mainboxTxt">Hotels – Use your points to plan the perfect weekend gateway at a golf/ski retreat at luxury properties around the globe. 
                    </p>-->
                  </div>
                  <h4>Hotels</h4>
                </div>
                <div class="col-xs-12 col-sm-3"style="text-align: center">
                  <div class="mainboxCls" style=" background-image: url('assets/images/dashboard/purchase.png');background-position: center;background-size: cover;">
                      <!--<p class="mainboxTxt">Deals & More – Take advantage of exclusive deals available or choose a cruise reward and set sail. 
                      </p>-->
                    </div>
                    <h4>More Deals</h4>
                  </div>
                  <!--<div class="erarnParaCls">
                      <div class="col-md-12">
                        <a href="#">View All</a>
                      </div>
                    </div>-->
          </div>
      </div>
        
      </div>
</div>