<div class="dropdown-menu dropdown-menu-style" aria-labelledby="navbarDropdown">
    <div class="row">
        <div class="col-md-3">
            <div style="padding-bottom: 20px;">
                <span><u><b>Mens Apperal</b></u></span>
                <a class="dropdown-item" routerLink="/shirt">Shirt</a>
                <a class="dropdown-item" href="#">T-Shirt &nbsp;<span class="badge badge-pill badge-success">New</span></a>                
                <a class="dropdown-item" href="#">Shoes</a>
                <a class="dropdown-item" href="#">Coming Soon</a>
                <a class="dropdown-item" href="#">Coming Soon</a>                                
            </div>               
            <div>
                <span><u><b>Womens Apperal</b></u></span>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>                
                <a class="dropdown-item" href="#">Something else</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>                
                <a class="dropdown-item" href="#">Something else</a>
            </div>       
        </div>
        <div class="col-md-3">
            <div  style="padding-bottom: 20px">
                <span><u><b>Electric Aappliences</b></u></span>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>                    
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>                
                <a class="dropdown-item" href="#">Something else</a>
            </div>
            <div>
                <span><u><b>Travel options</b></u></span>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link &nbsp;<span class="badge badge-pill badge-danger">New</span></a>                
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
            </div>                
        </div>
        <div class="col-md-3">
            <div>
                <span><b><u>House Hold</u></b></span>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
            </div>                            
        </div>
        <div class="col-md-3">
            <div>
                <span><b><u>Kids Apperal</u></b></span>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>
                <a class="dropdown-item" href="#">Item Link</a>                                
            </div>                            
        </div>
    </div>
</div>