<div class="modal-backdrop-spinner fade in loading">
    <div class="c-spinner loader">
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        <div class="c-spinner__spin-block"></div>
        </div>
      </div>