<div class="loginCls" >
  <div class="container">
    <div class="row">


<div class="bgCls">
          <div class="col-xs-12 col-sm-12">
            <div class="login-frm registration-frm">
              <h2>Forgot Password</h2>
              
              <div>
                <form  (ngSubmit)="onSubmit(forgotPass)" #forgotPass="ngForm">
                <div class="form-group">
                  <label for="email">Register Email ID</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="email" 
                  placeholder="Register email id"
                  ngModel
                  name="email"
                  required
                  email
                  #email="ngModel"
                  validateEmail
                  >
                  <span class="error" *ngIf="!email.valid && email.touched">Please enter valid email</span>
                </div>
                <div class="btnSubmitCls">
                  <button 
                  type="submit" 
                  class="btn btn-primary"
                  [disabled]="!forgotPass.valid">Send</button>
                </div>
                <div class="help-block">
                  <p>Please check your Email. Click the link sent to your Email ID to reset the password.
                    </p>
                 <p>Link will be valid till next 1 hour. </p>
                  </div>
                </form>
              </div>
            
             </div>
           </div>

           </div>
           </div>
           </div>

           </div>