<div class="main-cards">
<div class="container">
    <spinner *ngIf="showSpinner"></spinner>
        <div class="row">
            <div class="posi-rel">
            <div class="col-xs-12">
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-xs-3">
                                <select class="form-control"  (change)="update_filter(filter_by_card)"  [(ngModel)]="filter_by_card">
                                        <option value="all_cards">All Cards</option>
                                        <option *ngFor="let cardNumber of dataService.creditCardList" value="{{cardNumber}}">{{cardNumber | creditCardMask:3}}</option>                             
                                    </select>
                        </div>
                    </div>
                    <div class="row"><br></div>
                
                <div class="AccCls">
                    <label>Redemption History</label>
                    <ag-grid-angular *ngIf="!errorMessage"  style="width:100%;"
                    class="ag-theme-balham"
                    [enableSorting]="true"
                    [enableFilter]="true"
                    [rowData]="temp_item" 
                    [columnDefs]="columnDefs"
                    rowSelection="multiple"
                >
                </ag-grid-angular>
                <!--<div  *ngIf="errorMessage">
                    <h2>No data returned from Server</h2>
                </div>   -->
                </div>                
            </div>   
        </div>
        </div>
    </div>   
    <div class="row"><br><br><br></div>   
</div> 

