<app-dashboard-header></app-dashboard-header>


  
<div class="main-cards">
<div class="container">
        <div class="row">
            <div class="posi-rel">
                <div class="sidenav">
                    <a href="#about"><i class="fa fa-user"></i> My Profile</a>
                    <a href="#services"><i class="fa fa-credit-card"></i> My Cards</a>
                    <a href="#clients"><i class="fa fa-gift"></i> My Points</a>
                    <a href="#contact"><i class="fa fa-lock"></i> Change Password</a>
                </div>
            
            <div class="rght-panal">
                <ul class="list-inline tableHeaderCls">
                    <li>
                        <select class="form-control"  (change)="update_filter(filter_by_card)"  [(ngModel)]="filter_by_card">
                            <option value="all_cards">All Cards</option>
                             <option value="89988990">89988990</option>
                             <option value="11221121">11221121</option>
                        </select>
                    </li>
                    <li>
                            Points Earned <strong>1302.66</strong>
                    </li>
                    <li>
                            <span class="addcardCls"><i class="fa fa-plus-circle"></i> Add Card</span>
                    </li>
                   
                </ul>
                
                <div class="AccCls">
                    <label>Accumulation Details</label>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Card Number</th>
                            <th scope="col">Date of Posting</th>
                            <th scope="col">Transaction Description</th>
                            <th scope="col">Transaction Amount($)</th>
                            <th scope="col">Earned Points</th>
                            <th scope="col">Card Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of temp_item ">                                                
                                <td>{{item.car_number}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.trans_description}}</td>
                                <td>{{item.trans_amount}}</td>
                                <td>{{item.earned_points}}</td>
                                <td>{{item.card_type}}</td>
                            </tr> 
                        </tbody>
                    </table>    
                </div>
                
            </div>   
        </div>
        </div>
    </div>
</div> 