 
<div class="main-cards">
<div class="container">
        <spinner *ngIf="showSpinner"></spinner>
        <div class="row">
            <div class="posi-rel">
            <div class="col-xs-12">
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-xs-3">
                        <select class="form-control"  (change)="update_filter(filter_by_card)"  [(ngModel)]="filter_by_card">
                           <option value="all_cards">All Cards</option>
                             <option *ngFor="let cardNumber of dataService.creditCardList" value="{{cardNumber}}">{{cardNumber| creditCardMask:3}}</option>                             
                        </select> 
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control"  [(ngModel)]="transactionAmout" placeholder="Transaction Amount" (keypress)="onlyNumberKey($event)"/>
                    </div>
                    <div class="col-xs-3">
                            <button class="btn btn-primary" (click)="simulateTransaction()" >Make Transaction</button>
                        
                    </div>
                </div>
                <div>
                    <div class="col-s-6">
                        <div class="alert alert-danger fade in" *ngIf="transactionError">
                            {{transactionError}}
                        </div>
                    </div>
                </div>
                    <!-- <li>
                            <span class="addcardCls"><i class="fa fa-plus-circle"></i> Add Card</span>
                    </li> -->
                
                <div class="AccCls">
                    <label>Card Details</label>
                    <ag-grid-angular  style="width:100%; height: 150px;"
                    class="ag-theme-balham"
                    [enableSorting]="true"
                    [enableFilter]="true"
                    [rowData]="temp_card_item" 
                    [columnDefs]="columnDefs"
                    rowSelection="multiple"
                >
                </ag-grid-angular>   
                </div>
                <div class="row"><br><br></div>   
                <div class="AccCls">
                    <label>Transaction Details</label>
                    <ag-grid-angular  style="width:100%; height: 310px;"
                    class="ag-theme-balham"
                    [enableSorting]="true"
                    [enableFilter]="true"
                    [rowData]="transactionHistory" 
                    [columnDefs]="transColumnDefs"
                    rowSelection="multiple"
                >
                </ag-grid-angular>   
                </div>
                
            </div>   
        </div>
        </div>
        <div class="row"><br><br><br></div>   
    </div>
    
</div> 