<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Shop Cart</title>
</head>
<body>
<spinner *ngIf="showSpinner"></spinner>
<div class="container" style="" *ngIf="showDetailsStep">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="col-sm-10" style="cursor: pointer">
          <img src="{{currentItemUrl}}"  class="img-fluid rounded img-responsive ">
        </div>
    </div>

    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">Product Details</h5>
        <table class="table container-fluid" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">Product Name</th>
              <td>{{currentItemName}}</td>
            </tr>
            <tr>
              <th scope="row">Product Description</th>
              <td>{{currentItemDescription}}</td>
            </tr>
            <tr>
                <th scope="row">Points to be Redeemed</th>
                <td>{{currentItemPrice}} points</td>
            </tr>  
            <tr>
                <th>                   
                </th>
                <td></td>
            </tr>          
          </tbody>
          <tfoot>
              <tr>
                  <td >
                        <div *ngIf="currentItemQuantity > 0 ;then showbar else showaddbutton">here is ignored</div>
                        <ng-template #showbar>
                          <div >
                
                            <div class="input-group">
                
                              <span class="input-group-btn" style="vertical-align: middle;">
                                <button type="button" class="btn btn-default btn-number btn-sm" [disabled]="disableMinus" data-type="minus" data-field="quant[1]"
                                  (click)="decreaseQuantityDetail(currentItemId)">
                                  <span class="glyphicon glyphicon-minus"></span>
                                </button>
                              </span>
                              <input disabled="true" type="text" class="form-control input-sm" value="{{currentItemQuantity}}" width="50px;" >
                              <span class="input-group-btn" style="vertical-align: middle;">
                                <button type="button" class="btn btn-default btn-number btn-sm" data-type="plus" data-field="quant[1]" (click)="increaseQuantityDetail(currentItemId)">
                                  <span class="glyphicon glyphicon-plus"></span>
                                </button>
                              </span>
                            </div>
                
                          </div>
                        </ng-template>
                        <ng-template #showaddbutton>
                          
                            <button class="btn btn-primary btn-sm btn-primary-spacing " (click)="addToCart(currentItemId);">Add to Cart</button>
                          
                        </ng-template>
                        </td>
                        <td>
                        
                                <button class="btn btn-primary btn-sm btn-primary-spacing " (click)="goBacktoCatalog();"> Back To Catalog</button>
                          
                         
                        
                                <button class="btn btn-sm btn-primary btn-primary-spacing " (click)="goToCartDetails();">Proceed to CheckOut </button>
                        
                    </td>  
                    <td>        
              </tr>
          </tfoot>
        </table>
      </div>
    
      <!-- <ul>
            <i class="fa fa-shopping-cart"></i><span class="badge badge-pill">6</span>
        </ul>-->


    </div>

  </div>
</div>


<!-- Cart Product List Page-->
<div class="containerItemDetails" *ngIf="showCartItemsStep">
   <div class="row bs-wizard" style="border-bottom:0; margin-top:2px;">
                
                    <div class="col-xs-3 bs-wizard-step active">
                      <div class="text-center bs-wizard-stepnum">Step 1</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <li class="bs-wizard-dot"></li>
                      <div class="bs-wizard-info text-center">Review/Modify Cart</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                      <div class="text-center bs-wizard-stepnum">Step 2</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <li  class="bs-wizard-dot"></li>
                      <div class="bs-wizard-info text-center">Shipping and billing Details</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                      <div class="text-center bs-wizard-stepnum">Step 3</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <li class="bs-wizard-dot"></li>
                      <div class="bs-wizard-info text-center">Review Order</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                      <div class="text-center bs-wizard-stepnum">Step 4</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <li class="bs-wizard-dot"></li>
                      <div class="bs-wizard-info text-center">Order Confirmation</div>
                    </div>
                </div>       
           
<br>
       
    <div *ngIf="cartProductList.length > 0; else noItems" >
  
           <table  class="table table-responsive" style="background-color: white; border: none; text-align: left;">
                    <thead >
                        <th style="padding: 4px 4px 4px 4px; text-align: center;font-size: 16px; ">My Cart</th>     
                    </thead>
                    <tbody *ngFor="let item of cartProductList">
                            <tr class="col-sm-3" >
                              <td rowspan="4" style="float: left; ">
                                <div>
                                    <img src="{{item.url}}"  class="img-thumbnail img-responsive" width="80" height="80"   >
                                </div>
                              </td>
                             </tr>
                              <tr class="col-sm-9">
                                  <td colspan="2">
                                    {{item.name}}
                                  </td>
                             </tr>
                             <tr class="col-sm-9">
                              <td>
                                <div style="width:80px;">
                                    <div>
                                      <div class="input-group">   
                                      <span class="input-group-btn" style="vertical-align: middle;">
                                      <button type="button" class="btn btn-default btn-number btn-sm" data-type="minus" data-field="quant[1]"
                                        (click)="decreaseQuantity(item.id)" [disabled]="item.enableMinusButton" >
                                        <span class="glyphicon glyphicon-minus"></span>
                                      </button>
                                      </span>
                                      <input disabled="true" type="text" class="form-control input-sm " value="{{item.quantity}}"  style="text-align: center; border:none; padding:0px; width:30px;">
                                      <span class="input-group-btn" style="vertical-align: middle;">
                                      <button type="button" class="btn btn-default btn-number btn-sm" data-type="plus" data-field="quant[1]" 
                                      (click)="increaseQuantity(item.id)">
                                      <span class="glyphicon glyphicon-plus"></span>
                                      </button>
                                      </span>
                                      </div>
                                      
                                    </div>
                                    
                                </div>
                              </td>
                              <td>
                                    <div style="float: right; margin-left:10px; ">
                                            <button class="btn btn-danger btn-sm" (click)="removeFromCart(item.id);"><i class="fa fa-trash-o" ></i></button>
                                    </div>
                              </td>
                            </tr>
                              <tr class="col-sm-9">
                              <td colspan="2">
                                  <h4>{{item.price*item.quantity}}  Points </h4>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr class="col-sm-9" >
                              <td colspan="4">
                                    <span>Total points to Redeem {{orderTotal}} </span>
                              </td>
                               </tr>
                            <tr class="col-sm-9">
                                  <td colspan="2"> 
                                      
                                      </td>
                                  <td></td>
                                  <td colspan="2" >
                                         
                                  </td>
                            </tr>
                          </tfoot>
                </table>
                <button style="float:right;" class="btn btn-primary btn-primary-spacing" (click)="proceedToShipping();">Proceed to Checkout <i class="fa fa-angle-right"></i></button>
                <button (click)="goBacktoCatalog();"   class="btn btn-primary">
                        <i class="fa fa-angle-left" style="float:left;padding-right: 3px;padding-top: 2px;"></i> Go Back to Shopping</button>  
</div>
        <ng-template #noItems>
                <div class="alert alert-warning">
                        <strong>Sorry!</strong>There are no products in your shopping cart. Please add items to cart to proceed with checkout.
                      </div>             
              </ng-template>
</div>


<!-- Shiiping & billing address Page-->
<div class="containerShippingDetails" *ngIf="billingDetailsStep">
        <div class="row bs-wizard" style="border-bottom:0; margin-top:2px;">       
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Review/Modify Cart</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum"></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li href="#" class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Shipping and billing Details</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum"></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li href="#" class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Review Order</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum"></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li href="#" class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Order Confirmation</div>
                </div>
            </div>   <br><br>
    <div class="row" style="align-content: center">
        <div >
            <div>
                <h5><b>Shipping options</b></h5>
            </div>
            <div class="panel panel-primary">

                <div class="panel-body" style="padding: 10px;">
                    <div>
                        <label>
                            Please choose one of the shipping options below:
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" checked>
                            <label class="custom-control-label" for="defaultUnchecked"> 1 business day shipping</label>
                          </div>
                          <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" >
                                <label class="custom-control-label" for="defaultUnchecked"> Standard shipping (4-5 business days)</label>
                              </div>
                              <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" >
                                    <label class="custom-control-label" for="defaultUnchecked"> UPS (1-2 business days) - $25.00</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" >
                                        <label class="custom-control-label" for="defaultUnchecked"> FEDEX (1 business day) - $40.00</label>
                                      </div>
                </div>
            </div>
            <div>
                <h5><b>Shipping address</b></h5>
            </div>
            <div class="panel panel-primary" style="width:99%">
                <div class="panel-body">
                    
                        <div class="col-md-12  col-sm-12  col-xs-8 " style="background:#fff;">

                            
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h3 class="text-center">Billing Address</h3>
                         
                                        <hr>

                                              <div class="col-xs-6 col-sm-6 col-md-6">
                                                 <div class="form-group">
                                                     <input type="text" required  [(ngModel)]="billFirstName" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                                </div>
                                 </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" required [(ngModel)]="billLastName"  id="last_name" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>

                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                            <input type="email" name="first_name" required [(ngModel)]="billEmail" id="first_name" class="form-control input-sm" placeholder="Email id">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="number" required name="last_name" [(ngModel)]="billMobile" id="last_name" class="form-control input-sm" placeholder="Mobile no">
                                    </div>
                                </div>

                                          <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        
                                        <textarea required class="form-control" [(ngModel)]="billAddress" placeholder="Address">                                                
                                            </textarea>
                                    </div>
                                </div>

                                          <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                            <input type="text" name="first_name" required id="first_name" [(ngModel)]="billCountry" class="form-control input-sm" placeholder="country">
                                    </div>
                                </div>
                                   <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                            <input type="text" name="first_name" required id="first_name" [(ngModel)]="billCity" class="form-control input-sm" placeholder="city">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="number" name="last_name" required [(ngModel)]="billPincode" id="last_name" class="form-control inputsm" placeholder="pincode">
                                    </div>
                                </div>
                                               <input class="coupon_question" type="checkbox"  (change)="copyBillingAddress();" name="coupon_question" value="1">
                                        <span class="item-text"><b>Shipping Address same as Billing Address</b></span>
                                  </div>


                                  <div class="col-md-6 shipping col-sm-6 col-xs-12">
                                        <h3 class="text-center">Shipping Address</h3>

                                        <hr>
                                              <div class="col-xs-6 col-sm-6 col-md-6">
                                                 <div class="form-group">
                                                     <input type="text"  required [disabled]="disableShip" [(ngModel)]="shipFirstName" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                                </div>
                                 </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" required [disabled]="disableShip" name="last_name" id="last_name" [(ngModel)]="shipLastName" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>

                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                            <input type="email" required name="first_name" [disabled]="disableShip" id="first_name" [(ngModel)]="shipEmail" class="form-control input-sm" placeholder="Email id">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="number" required [disabled]="disableShip" name="last_name" [(ngModel)]="shipMobile" id="last_name" class="form-control input-sm" placeholder="Mobile no">
                                    </div>
                                </div>

                                          <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                            <textarea class="form-control" required [disabled]="disableShip" [(ngModel)]="shipAddress" placeholder="Address">                                                
                                            </textarea>
                                    </div>
                                </div>

                                          <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                            <input type="text" name="first_name"  required [disabled]="disableShip" id="first_name" [(ngModel)]="shipCountry" class="form-control input-sm" placeholder="country">
                                    </div>
                                </div>
                                   <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                            <input type="text" name="first_name" required [disabled]="disableShip" id="first_name" [(ngModel)]="shipCity" class="form-control input-sm" placeholder="city">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" required [disabled]="disableShip" name="last_name" [(ngModel)]="shipPincode" id="last_name" class="form-control input-sm" placeholder="pincode">
                                    </div>
                                </div>
                                  </div> 
                               
                              
                    </div>
                </div>
            </div>
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <div class="panel panel-primary">

                <div class="panel-body">

                    <table id="cart" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Points</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">TotalPoints</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let products of cartProductList">
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-4 hidden-xs"><img src="{{products.url}}" alt="..."
                                                class="img-responsive img-thumbnail" /></div>
                                        <div class="col-sm-8">
                                            <h4 class="nomargin">{{products.name}}</h4>
                                            <p>{{products.description}}.</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Points">{{products.price}}</td>
                                <td data-th="Quantity">{{products.quantity}} </td>
                                <td data-th="TotalPoints" class="text-center">{{products.quantity*products.price}}</td>
                               
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="hidden-xs text-right">Sub Total</td>
                                <td data-th="TotalPoints" class="hidden-xs text-center"><strong> {{orderTotal}}</strong></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="hidden-xs text-right">
                                    <strong>Total</strong>
                                </td>
                                <td data-th="TotalPoints" class="hidden-xs text-center"><strong> {{orderTotal}}</strong></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button class="btn btn-primary" (click)="goBacktoCatalog();">
                                    <i class="fa fa-angle-left" style="padding-right: 3px;padding-top: 2px;"></i> Go Back to Shopping</button></td>
                                <td colspan="1" class="hidden-xs"></td>
                                <td class="hidden-xs text-center"></td>
                                <td><button type="sumbit" class="btn btn-primary btn-block" (click)="reviewOrder();">Proceed to Checkout <i class="fa fa-angle-right"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
 
                </div>
            </div>
        </div>

        

    </div>

</div>


<!--Order Review Page-->
<div class="containerShippingDetails" *ngIf="reviewOrderStep">
        <div class="row bs-wizard" style="border-bottom:0; margin-top:2px;">
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Review/Modify Cart</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Shipping and billing Details</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Review Order</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <li class="bs-wizard-dot"></li>
                  <div class="bs-wizard-info text-center">Order Confirmation</div>
                </div>
            </div>   <br><br>
        <div class="row">
            <div>
                <div class="panel panel-primary">

                    <div class="panel-body">
                        <span>
                            <div><strong>{{shipFirstName}}</strong>Your order will be shipped as soon as you complete your order.</div>
                        </span>
                        <span>
                            <div><strong>Estimate shipping date:</strong>within 24 hours.</div>
                        </span>
                    </div>
                </div>

                <div class="panel panel-primary">

                    <div class="panel-body">

                        <table id="cart" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Points</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">TotalPoints</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of cartProductList">
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-4 hidden-xs"><img src="{{order.url}}" alt="..."
                                                    class="img-responsive img-thumbnail" /></div>
                                            <div class="col-sm-8">
                                                <h4 class="nomargin">{{order.name}}</h4>
                                                <p>{{order.ItemDescription}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Points">{{order.price}}</td>
                                    <td data-th="Quantity">
                                        {{order.quantity}}
                                    </td>
                                    <td data-th="TotalPoints" class="text-center">{{order.quantity*order.price}}</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="hidden-xs text-right">Sub Total</td>
                                    <td data-th="TotalPoints" class="hidden-xs text-center"><strong> {{orderTotal}}</strong></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="hidden-xs text-right">
                                        <strong>Total</strong>
                                    </td>
                                    <td data-th="TotalPoints" class="hidden-xs text-center"><strong> {{orderTotal}}</strong></td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <tr class="visible-xs">
                                    <td class="text-center"><strong>150.00</strong></td>
                                </tr>
                                <tr>
                                    <td><button (click)="goBacktoCatalog();"  href="#" class="btn btn-primary">
                                        <i class="fa fa-angle-left" style="padding-right: 3px;padding-top: 2px;"></i> Go Back to Shopping</button></td>
                                    <td colspan="1" class="hidden-xs"></td>
                                    <td></td>
                                    <td><button class="btn btn-primary btn-block" (click)="doRedemption();">Place Order <i class="fa fa-angle-right" ></i></button></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>

          


        </div>
</div>


<!--Order Reciept -->
<div *ngIf="confirmationStep">
<div *ngIf="itemRedemptionSuccess; then showsuccess else showfailure">here is ignored</div>

    <ng-template #showsuccess>
            <div class="containerConfirmationDetails" >
            <div class="row bs-wizard" style="border-bottom:0; margin-top:2px;">
                
                    <div class="col-xs-3 bs-wizard-step complete">
                      <div class="text-center bs-wizard-stepnum">Step 1</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <a href="#" class="bs-wizard-dot"></a>
                      <div class="bs-wizard-info text-center">Review/Modify Cart</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                      <div class="text-center bs-wizard-stepnum">Step 2</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <a href="#" class="bs-wizard-dot"></a>
                      <div class="bs-wizard-info text-center">Shipping and billing Details</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                      <div class="text-center bs-wizard-stepnum">Step 3</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <a href="#" class="bs-wizard-dot"></a>
                      <div class="bs-wizard-info text-center">Review Order</div>
                    </div>
                    
                    <div class="col-xs-3 bs-wizard-step complete"><!-- active -->
                      <div class="text-center bs-wizard-stepnum">Step 4</div>
                      <div class="progress"><div class="progress-bar"></div></div>
                      <a href="#" class="bs-wizard-dot"></a>
                      <div class="bs-wizard-info text-center">Order Confirmation</div>
                    </div>
                </div>   
                   <br><br>
                    <div class="panel panel-primary border">
                        <div style="padding:10px;">
                        <div class=" panel-body " >
                            
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="assets/logo.png" alt="..." class="img-responsive" /></div>
                                        <div class="col-sm-7 text-center"><span> <strong>Thank you for order!</strong></span></div>
                                    </div>
                                </div>

                                <div class="row" >
                                        <div class=" ">
                                            <p>
                                                You've successfully placed your order with us -- please print (or save) this page for
                                                your
                                                records. You will be receiving a copy of this page by e-mail shortly. When contacting us
                                                regarding
                                                this order, please use this Order Number as a reference
                                            </p>
                                        </div>
                                 </div>                        
                                                                                                                                
                                <div class="row">
                                    <div class="mailContent" >
                                        <span><strong>Order Number: </strong> {{orderNum}}
                                        </span>
                                        <br>
                                        <span><strong>Order Date: </strong> {{orderDate}}</span>
                                    </div>
                                </div>
                    
                                <div class="row" >
                                    <div class="mailContent ">
                                        <span><strong>Billing & Shipping Information</strong></span>
                                    </div>
                                </div>
                    
                                <div class="row"  >
                                    <div class="mailContent ">
                                        <span><strong>Billing information:</strong></span>
                                            <div class="address"><span>
                                                    {{billFirstName}}
                                                    {{billLastName}}
                                                    {{billMobile}}
                                                    {{billAddress}}
                                                    {{billCity}}
                                                    {{billCountry}}
                                                    {{billPincode}}
                                                    {{billEmail}}
                                            </span>
                                                <br> </div>
                                        <span><strong>Shipping information:</strong></span>
                                             <div class="address">
                                                        <span>{{shipFirstName}}
                                                                {{shipLastName}}
                                                                {{shipMobile}}
                                                                {{shipAddress}}
                                                                {{shipCity}}
                                                                {{shipCountry}}
                                                                {{shipPincode}}
                                                                {{shipEmail}}
                                                        </span>
                                            </div>
                                    </div>
                                </div>
                    
                                <div class="row mailContent">
                                     <span><strong>Your Order Detail:</strong></span>
                                        <table id="cart" class="table table-hover table-condensed  table-responsive ">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Points</th>
                                                    <th class="text-center">Quantity</th>
                                                    <th class="text-center">TotalPoints</th>
                    
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr *ngFor="let confirm of orderConfirmationProd">
                                                    <td data-th="Product">
                                                        <div class="row"  >
                                                            <div class="col-sm-4 hidden-xs"><img src="{{confirm.url}}" alt="..."
                                                                    width="100px"  height="150px;"/></div>
                                                            <div class="col-sm-4">
                                                                <h4 class="nomargin">{{confirm.name}}</h4>
                                                                <p>{{confirm.ItemDescription}}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td data-th="Points">{{confirm.price}}</td>
                                                    <td data-th="Quantity" class="text-center">
                                                        {{confirm.quantity}}
                                                    </td>
                                                    <td data-th="TotalPoints" class="text-center">{{confirm.quantity*confirm.price}}</td>
                    
                                                </tr>
                    
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="hidden-xs text-right">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td data-th="TotalPoints" class="hidden-xs text-center"><strong>{{orderTotal}}</strong></td>
                    
                                                </tr>
                    
                                            </tbody>
                                            <tfoot>
                                                <tr class="visible-xs">
                                                    <td class="text-center"><strong>{{orderTotal}}</strong></td>
                                                </tr>
                    
                                            </tfoot>
                                        </table>
                                       <button style="float: right;" class="btn btn-primary" (click)="goBacktoCatalog();">
                                        <i class="fa fa-angle-left" ></i> Go Back to Shopping</button>
                                </div>
                                <div class="row " ><span><strong>Thanks!</strong></span></div>
                                <div class="row mailContent"><span>Thanks so much for being one of our beloved customers. If you believe we
                                        can help you in any manner, please contact our friendly support team and we'll try to sort any
                                        problems you might have.</span>
                                </div>
                            
                    
                    
                    
                     
                    
                    
                    
                 </div></div></div></div>
                    
                           
        </ng-template>
        <ng-template #showfailure>
                <div class="alert alert-warning">
                        <strong>Sorry! </strong>You don't have sufficient points for this redemption.
                      </div> 
         
        </ng-template>
    </div>
    <div class="push"></div>
</body></html>