<div class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="explore">
          <p>&#9400; All right reserve</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="ratecharge pull-right">
          <p>
              <a style="padding-right: 10px">About Us</a>
              <a style="padding-right: 10px">Contact Us</a>
            <a style="padding-right: 10px">Terms & Conditions</a>
            <a style="padding-right: 10px">Privacy policy</a>
            
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>