<div class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="explore">

         <p>&#9400; All rights reserved</p>

        </div>

      </div>
      <div class="col-sm-6">
        <div class="ratecharge pull-right">
          <p>

              <a style="padding-right: 45px;cursor: auto;">About Us</a>
              <a style="padding-right: 45px;cursor: auto;">Contact Us</a>
            <a style="padding-right: 45px;cursor: auto;">Terms & Conditions</a>
            <a style="padding-right: 45px;cursor: auto;">Privacy policy</a>
            
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>