<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="110">
  <div class="container">
      <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand header-logo-text">
					Loyalty Program
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li *ngIf="username">
                <a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>
              </li>
              <li *ngIf="username">
                  <a> Points Earned <span class="glyphicon glyphicon-info-sign"></span></a>
                  
                </li>
              <li *ngIf="username" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redeem Points <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/catalog">User Points to Shop</a></li>                     
                  </ul>
                </li>
                <li *ngIf="username" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Cards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/mycards/all_cards">All Cards</a></li>                      
                        <li *ngFor="let card of creditCardList">
                          <a routerLink="/mycards/{{card}}">{{card}}</a>
                        </li>
                    </ul>
                  </li>
                  <li><a routerLink="/mypoints">My Points</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="username">
                    <a>{{username}}</a>
                </li>              
                <li><a role="button" (click)="goToCart()" ><i class="fa fa-shopping-cart" ></i><sup class="badge badge-pill">{{cartItemTotal}}</sup></a></li>
                <li>
                    <a routerLink="login" *ngIf="username" (click)="userLogout()">Logout</a>
                    <a routerLink="login" *ngIf="!username">Login</a>
                </li>
                  
              </ul>
          </div>
  </div><!-- /.container-fluid -->
</nav>
<!-- <ng-template #logout>
   <a routerLink="login">Login</a>
</ng-template> -->