<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="110">
  <div class="container">
        <spinner *ngIf="showSpinner"></spinner>
      <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
          </button>
          
          <a routerLink="/" class="navbar-brand header-logo-text">
            
            <!--<p style="margin-top:0px">Loyalty Program</p>-->
            <img src="assets/logo.png" style="display: block,block;margin-top: -12px;margin-left: 20px; width:268px">
            </a><br>
          
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left"  *ngIf="dataService.username">
              <li>
                <a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>
              </li>
             
              
                <li>
                    <a routerLink="/mycards">My Cards</a>
                    
                  </li>
                  <li><a routerLink="/mypoints">My Points</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redeem Points <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/catalog">Use Points for Shopping</a></li>                     
                    </ul>
                  </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right"  *ngIf="dataService.username">            
                <li>
                    <a> Balance Points <span class="label label-success" style="font-size: 12px; margin-left: 4px">{{dataService.totalBalance}}</span> </a>
                </li>
                <li><a (click)="goToCart()" >
                    <i class="fa fa-shopping-cart" ></i>
                    <span class="label label-primary" style="font-size: 12px; margin-left: 4px">{{_checkoutService.cartItemsArray.length}}</span>
                    <!--<sup class="badge badge-pill"></sup>-->
                  </a>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{dataService.username}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                       <li> <a (click)="userLogout()">Logout</a></li> 
                    </ul>
                  </li>
              </ul>
              <!--<ul class="nav navbar-nav navbar-right"  *ngIf="!dataService.username">
                  <li>
                      <a routerLink="/">Login</a>
                  </li>              
              </ul>-->
          </div>
  </div><!-- /.container-fluid -->
</nav>
<!-- <ng-template #logout>
   <a routerLink="login">Login</a>
</ng-template> -->