<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="110">
  <div class="container">
        <spinner *ngIf="showSpinner"></spinner>
      <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand header-logo-text">
					Loyalty Program
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left"  *ngIf="dataService.username">
              <li>
                <a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>
              </li>
              <li>
                  <a> Balance Points {{dataService.totalBalance}} </a>
                      
                  
                </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redeem Points <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/catalog">Use Points for Shopping</a></li>                     
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Cards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/mycards/all_cards">All Cards</a></li>                      
                        <li *ngFor="let card of dataService.creditCardList">
                          <a routerLink="/mycards/{{card}}">{{card | creditCardMask:3}}</a>
                        </li>
                    </ul>
                  </li>
                  <li><a routerLink="/mypoints">My Points</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right"  *ngIf="dataService.username">
                <li>
                    <a  style="cursor:auto;">{{dataService.username}}</a>
                </li>              
                <li><a role="button" (click)="goToCart()" style="cursor:auto;"><i class="fa fa-shopping-cart" ></i>
                <sup class="badge badge-pill">{{cartItemTotal}}</sup></a></li>
                <li>
                    <a (click)="userLogout()">Logout</a>
                </li>

                  
              </ul>
              <ul class="nav navbar-nav navbar-right"  *ngIf="!dataService.username">
                  <li>
                      <a routerLink="login">Login</a>
                  </li>              
              </ul>
          </div>
  </div><!-- /.container-fluid -->
</nav>
<!-- <ng-template #logout>
   <a routerLink="login">Login</a>
</ng-template> -->