<div class="loginCls" >
    <div class="container">
      <div class="row">
  
  
  <div class="bgCls">
            <div class="col-xs-12 col-sm-12">
              <div class="login-frm registration-frm">
                <h2>Forgot User ID?</h2>
                
                <div>
                  <form  #forgotuser="ngForm">
                  <div class="form-group">
                    <label for="email">Registered Email ID</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="email" 
                    placeholder="Registered email id"
                    ngModel
                    name="email"
                    required
                    email
                    #email="ngModel"
                    validateEmail
                    >
                    <span class="error" *ngIf="!email.valid && email.touched">Please enter valid email</span>
                    <span *ngIf="showConfirm" class="success">Mail has been sent.</span>
                  </div>
                  <div class="help-block">
                      <p>Your user Id will be sent to your registered mail id..
                      </p>
                  </div>
                  <div class="btnSubmitCls">
                    <button 
                    type="reset" 
                    class="btn btn-primary"
                    (click)="onSubmit(forgotuser)"
                    [disabled]="!forgotuser.valid">Send</button>
                  </div>
                  
                  </form>
                </div>
              
               </div>
             </div>
  
             </div>
             </div>
             </div>
  
             </div>