<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-dashboard-header></app-dashboard-header>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" role="button" (click)="selectFromSideMenu('clothing','notselected');">
                            Clothing</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a role="button" (click)="selectFromSideMenu('clothing','tops');">Tops</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a role="button" (click)="selectFromSideMenu('clothing','shirts');">Shirts</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a role="button" (click)="selectFromSideMenu('clothing','bottoms');">Pants</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a role="button" (click)="selectFromSideMenu('clothing','ties');">Ties</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" role="button" (click)="selectFromSideMenu('electronics','notselected');">Electronics</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('electronics','harddisk');">Hard Disks</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('electronics','powerbank');">Power Banks</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('electronics','pendrive');">Pendrives</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('electronics','bluetooth');">Bluetooth</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" role="button" (click)="selectFromSideMenu('accessories','notselected');">Accessories</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('accessories','necklaces');">Necklaces</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('accessories','earrings');">Earrings</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('accessories','rings');">Rings</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('accessories','bracelets');">
                                            Bracelets</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" role="button" (click)="selectFromSideMenu('footwear','notselected');">FootWear</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('footwear','pumps');">Pumps</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('footwear','peeptoes');">Peep Toes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('footwear','shoes');">Shoes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <a role="button" (click)="selectFromSideMenu('footwear','ballerinas');">Ballerinas</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
              <div class="row product-list">
                <div class="col-md-4" *ngFor="let item of itemArray">
                
                <section class="panel" *ngIf="item.activeCategory">
                  <div class="pro-img-box">
                      <img src="{{item.url}}" alt="" >
                   
                  </div>
                  
                  <div class="panel-body text-center">
                    
                    <h4>
                      <a href="#" class="pro-title">
                                        Product Title
                                    </a>
                    </h4>
                    <p class="price">{{item.price}}points</p>
                  </div>
                  <div class="bottons">

                      <div *ngIf="item.quantity>0 ;then content else other_content">here is ignored</div>    
                      <ng-template #content>
                          <div class="addToCartButton">
                            
                              <div class="input-group">
                               
                                    <span class="input-group-btn" style="vertical-align: middle;">
                                        <button type="button" class="btn btn-default btn-number" [disabled]="item.enableMinusButton" data-type="minus" data-field="quant[1]" (click)="decreaseQuantity(item.id)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" name="quant[1]" class="form-control input-number" value="{{item.quantity}}" min="0" max="10">
                                    <span class="input-group-btn" style="vertical-align: middle;">
                                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" (click)="increaseQuantity(item.id)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                             
                            </div>
                      </ng-template>
                      <ng-template #other_content>
                          <div class="addToCartButton">
                          <button class="btn btn-primary" (click)="addToCart(item.id);">Add to Cart</button>
                          </div>
                      </ng-template>
                      <div class="addToCartButton">
                          <button class="btn btn-accent" (click)="showProductDetails(item.id);">Buy Now</button>
                      </div>
                    </div>    
                </section>
              </div>
            </div>
            <section class="panel">
                <div class="panel-body">
                  <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
            
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
        </div>
    </div>
</div>
